<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<title>INDEX ADMIN</title>
	
</head>
<body>
	
	<div th:replace="fragments/headers :: header-admin">HEADER HERE</div>
	
    <div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Bienvenido admin</h1>
				<div class="card-deck">
	
	
					<div class="card">
	
						<div class="card-body">
	
							<h3 class="card-title">Informes</h3>
							
							<a href="/admin/informes">
                                <button class="btn btn-primary">Ir</button>
                            </a>
	
						</div>
	
					</div>

                    <div class="card">
	
						<div class="card-body">
	
							<h3 class="card-title">Realizar Pedido</h3>
							
							<a href="/admin/pedido">
                                <button class="btn btn-primary">Ir</button>
                            </a>
	
						</div>
	
					</div>

                    <div class="card">
	
						<div class="card-body">
	
							<h3 class="card-title">Ingresar Lote</h3>
							
							<a href="/admin/lote">
                                <button class="btn btn-primary">Ir</button>
                            </a>
	
						</div>
	
					</div>

                    <div class="card">
	
						<div class="card-body">
	
							<h3 class="card-title">ABM Producto</h3>
							
							<a href="/admin/abm">
                                <button class="btn btn-primary">Ir</button>
                            </a>
	
						</div>
	
					</div>
				 
				</div>
			</div>
		</div>
		
		
	</div>
	
    
    
	
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
