<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UNLa</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet" />
  </head>
  <body>
	
	<!-- Header generico para errores o cualquier otra cosa -->

	<nav th:fragment="header-generic" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/">INICIO</a>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
	    	<ul class="navbar-nav mr-auto">
			</ul>
			
			<form th:action="@{/logout}"  method="post">
				<input class="btn btn-danger" style="color: white;"  type="submit" value="Logout" />
			</form>
		</div>
	</nav>
	
	
	
	
	<!-- Header para un usuario -->

	<nav th:fragment="header-usuario" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/compra">INICIO-User</a>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
	    	<ul class="navbar-nav mr-auto">
	    	</ul>
			
			<form th:action="@{/logout}"  method="post">
				<input class="btn btn-danger" style="color: white;"  type="submit" value="Logout" />
			</form>
		</div>
	</nav>
	
	
	
	
	<!-- Header para un admin -->

	<nav th:fragment="header-admin" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/admin">INICIO-Admin</a>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
	    	<ul class="navbar-nav mr-auto">
	    	</ul>
			
			<form th:action="@{/logout}"  method="post">
				<input class="btn btn-danger" style="color: white;"  type="submit" value="Logout" />
			</form>
		</div>
	</nav>
</body>
</html>