<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UNLa</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet" />
  </head>
  <body>
	
    <div th:replace="fragments/headers :: header-generic">HEADER HERE</div>
	
	<!-- Page Content -->
    <div class="container">
    	<!-- Page Heading/Breadcrumbs -->
	    <h1 class="mt-4 mb-3">403
	       <small>Yu don't have permissions</small>
	    </h1>
	    <div class="jumbotron">
	       <h1 class="display-1">403</h1>
	    </div>
	    <!-- /.jumbotron -->
    </div>
	<!-- /.container -->
	<!-- Footer -->
	<footer class="py-5 bg-dark">
	   <div class="container">
	     <p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p>
	   </div>
	   <!-- /.container -->
	</footer>
	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
